#logo{
    padding-left: 20px;
}

#container{
    width: 700px;
    border: 1px solid #000;
    padding:10px;
    margin:10px;
}

#headlines li{
    list-style-type: none;
    border:1px solid black;
    width: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #B3C1C2;
}
#headlines li h2 a{
    color: #000;
}
#headlines li h2 a:hover{
    color: #fff;
}
a:visited {
    color: gray;
}
#headlines li h2 span a{
    font-style: italic;
}

.pubDate{
    font-size: 17px;
}

a{
    color: #000;
}
a:hover {
    color: gray;
}

p a{
    font-size: 20px;
    border:1px solid #000000;
    padding: 5px;
    margin:15px;
    border-radius: 10px;
    text-decoration: none;
}
p a:hover{
    background-color: #000000;
}